* {

    font-style: italic;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

form {

    margin: 50px;
    margin-left: 25vw;
    margin-top: 60px;
    font-size: 20px;

}

h5 {

    font-size: 70px;

}

.form {

    background-color: lightgreen;
    padding: 1px;
    margin: 45px;
    margin-top: 10px;
    margin: 10px 45px 10px;
    border-radius: 20px;

}

.main-button {

    white-space: nowrap;
    display: flex;

}

.button-reset {

    display: inline-block;
    font-size: 30px;
    font-weight: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: tomato;
    border-radius: 20px;
    width: 300px;
    height: 75px;
    border: 450px;
    margin-top: 10px;
    margin-left: 300px;

}

.button-submit {

    display: inline-block;
    background-color: aqua;
    font-size: 30px;
    font-weight: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    width: 300px;
    height: 75px;
    border: 450px;
    margin-top: 10px;
    margin-left: 120px;

}

@media screen and (max-width: 372px) {

    h5 {

        font-size: 30px;

    }


    form {

        margin: 10px;
        margin-left: 10vw;
        margin-top: 20px;
        font-size: 10px;

    }

    .form {

        background-color: lightgreen;
        padding: 1px;
        margin: 25px;
        margin-top: 10px;
        margin: 10px 45px 10px;
        border-radius: 20px;

    }

    .file {

      margin-top: 20px;
      font-size: 15px;
    }

    .input-file {

        font-size: 10px;
        margin-top: 3px;
    }

    .main-button {

        white-space: nowrap;
        display: block;

    }

    .button-reset {

        display: block;
        font-size: 25px;
        font-weight: 20px;
        margin: 10px;
        cursor: pointer;
        background-color: tomato;
        border-radius: 20px;
        width: 200px;
        height: 50px;
        border: 450px;
        margin-top: 40px;
        margin-left: 86px;

    }

    .button-submit {

        display: inline-block;
        background-color: aqua;
        font-size: 25px;
        font-weight: 20px;
        margin: 10px;
        cursor: pointer;
        border-radius: 20px;
        width: 200px;
        height: 50px;
        border: 450px;
        margin-top: -30px;
        margin-left: 86px;

    }

}