* {

    font-style: italic;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

iframe {

    margin-left: 370px;
    margin-top: 90px;
    border-radius: 40px;

}

body {

    background-color:cornflowerblue;
}


@media screen and (max-width: 372px) {

    iframe {

        margin-left: 33px;
        margin-top: 50px;
        border-radius: 40px;
        width: 300px;
        height: 300px;
    
    }
    
}